<header ng-controller="PublicHeaderController">
   <figure class="home-figure">
      <a href="#/"><img src="assets/images/home.png"></a>
   </figure>
   <div class="header-links">
      <input type="button"
             ng-if="!view.user.id"
             ng-click="login()"
             class="button"
             value="Log In">
      <input type="button"
             ng-if="view.user.id"
             ng-click="logout()"
             class="button"
             value="Log Out">

      <input type="button"
             ng-if="!view.user.id"
             ng-click="register()"
             class="button"
             value="Register">
   </div>
   <h1>{{view.page_info.page_title}}</h1>
</header>
