<public-wrapper>
   <div class="center-text">
      <form name="register_form" novalidate>
         How would you like us to refer to you?:
         <input type="text"
                name="user_name"
                ng-model="view.user.user_name"
                required>
         <span ng-if="view.try_submit">
            <span ng-if="register_form.user_name.$error.required">
               Required.
            </span>
         </span>
         <br>
         What would you like your group's name to be?:
         <input type="text"
                name="group_name"
                ng-model="view.user.group_name"
                required>
         <span ng-if="view.try_submit">
            <span ng-if="register_form.group_name.$error.required">
               Email is required.
            </span>
         </span>
         <br>
         What is your email?:
         <input type="email"
                name="email"
                ng-model="view.user.email"
                required>
         <span ng-if="view.try_submit">
            <span ng-if="register_form.email.$error.required">
               Email is required.
            </span>
            <span ng-if="register_form.email.$error.email">
               Invalid email address.
            </span>
         </span>
         <br>
         Please provide a password:
         <input type="password"
                name="password"
                ng-model="view.user.password"
                required>
         <span ng-if="view.try_submit">
            <span ng-if="register_form.password.$error.required">
               Password is required.
            </span>
         </span>
         <br>
         <input type="button" value="Submit" ng-click="submit(register_form)">
      </form>
   </div>
</public-wrapper>
