<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<base href="http://fast-brook-4391.herokuapp.com/">-->
    <!--<link rel="stylesheet" type="text/css" href="static/assets/stylesheets/css/docs.css">-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/assets/stylesheets/css/docs.css">
    <title>NationBudget</title>
  </head>
  <body>
    <header>
      <div>
        <a class="company-logo" href="/">NationBudget</a>
      </div>
      <div class="flex-center">
        <h1>API Documentation</h1>
      </div>
      <div></div>
    </header>
    <section>
      <div class="flex-center">
        <table>
          <tr>
            <th>Route</th>
          </tr>
          <tr>
            <td>
              <a href="docs/account">api/account</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="docs/user">api/user</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="docs/space">api/space</a>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
