<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<base href="http://fast-brook-4391.herokuapp.com/">-->
    <!--<link rel="stylesheet" type="text/css" href="static/assets/stylesheets/css/docs.css">-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/assets/stylesheets/css/docs.css">
    <title>NationBudget</title>
  </head>
  <body>
    <header>
      <div>
        <a class="company-logo" href="/">NationBudget</a>
      </div>
      <div class="flex-center">
        <h1>User API Documentation</h1>
      </div>
      <div></div>
    </header>
    <section>
      <div class="flex-center">
        <table>
          <tr>
            <th>Route</th>
            <th>Method</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>api/user</td>
            <td>GET</td>
            <td>Returns all users</td>
          </tr>
          <tr>
            <td>api/user</td>
            <td>POST</td>
            <td>Create one or more users</td>
          </tr>
          <tr>
            <td>api/user/:user_id</td>
            <td>GET</td>
            <td>Return the specified user</td>
          </tr>
          <tr>
            <td>api/user/:user_id/active</td>
            <td>PUT</td>
            <td>Activate or deactivate the user</td>
          </tr>
          <tr>
            <td>api/user/:user_id/contact</td>
            <td>PUT</td>
            <td>Update the user's contact information</td>
          </tr>
          <tr>
            <td>api/user/:user_id/default_space</td>
            <td>PUT</td>
            <td>Update the user's default planning space</td>
          </tr>
          <tr>
            <td>api/user/:user_id/spaces</td>
            <td>PUT</td>
            <td>Update the user's access to planning spaces</td>
          </tr>
          <tr>
            <td>api/user/:user_id/settings</td>
            <td>PUT</td>
            <td>Update the user's settings</td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
