body, div, section, p, h1, h2, header, footer,
nav, ul, li, a, figure, img, aside, form, input,
table, th, td, html {
  margin: 0;
  padding: 0;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
input {
  font-size: 15px;
}
.input-error {
  border: solid red 2px;
  border-radius: 4px;
}
.button {
  font-size: 23px;
  padding: 10px;
  background-color: white;
}
.hide {
  display: none !important;
}
.alert-container {
  @extend .flex-column;

  width: 500px;
  position: absolute;
  color: black;
  top: 0;
  right: 0;

  p {
    background-color: white;
    padding: 0 40px;
    text-align: center;
  }
}
.alert-title-container {
  @extend .flex-row;

  div {
    width: 33.3%;
  }
}
.alert-button-container {
  @extend .flex-row;

  justify-content: flex-end;

  .button {
    margin-right: 15px;
  }
}
.exit-button-container {
  display: flex;
  justify-content: flex-end;
}
.exit-button {
  @extend .flex-center;

  border: solid 1px black;

  &:hover {
    cursor: pointer;
  }
}
.alert-base {
  font-size: 14px;
}
.alert-error {
  @extend .alert-base;

  background-color: red;
}
