@import "base.scss";

html {
  background-color: darkturquoise;
  color: white;
}
header {
  @extend .flex-row;
  padding: 30px 0;
  background-color: darkturquoise;
}
header > div {
  width: 33.3%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.company-logo {
  font-size: 30px;
  margin-left: 10%;
  text-decoration: none;
  color: white;
}
section {
  height: 100%;
}
footer {
  margin: 40px 0;
}
h1 {
  font-size: 30px;
  text-align: center;
}
.main-container {
  @extend .flex-column;
  align-items: center;
}
input {
  min-height: 30px;
  width: 220px;
  margin: 12px 0;
}
