<!DOCTYPE html>
<html class="nation-budget">
  <head>
    <meta charset="utf-8">
    <title>NationBudget</title>
    <link rel="stylesheet" type="text/css" href="static/assets/stylesheets/css/main.css">
  </head>
  <body class="register-personal-page">
    <header>
      <div>
        <a class="company-logo" href="/">NationBudget</a>
      </div>
      <div class="h1-container">
        <h1>Business Plan</h1>
      </div>
      <div></div>
    </header>
    <section>
      <div class="main-container">
        <form action="getstarted/business"
              method="post">
          <div>
            <input type="text"
                   placeholder="First Name"
                   name="firstName">
          </div>
          <div>
            <input type="text"
                   placeholder="Last Name"
                   name="lastName">
          </div>
          <div>
            <input type="text"
                   placeholder="Account Name"
                   name="accountName">
          </div>
          <div>
            <input type="email"
                   placeholder="example@example.com"
                   name="email">
          </div>
          <div>
            <input type="password"
                   placeholder="Password"
                   name="password">
          </div>
          <div>
            <input type="submit"
                   class="register-button button"
                   value="Register!">
          </div>
        </form>
      </div>
    </section>
    <footer>
      <p class="flex-center">&#169;2015 NationBudget</p>
    </footer>
  </body>
</html>
