<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NationBudget</title>
    <!--<base href="http://fast-brook-4391.herokuapp.com/">-->
    <link rel="stylesheet" type="text/css" href="static/assets/stylesheets/css/getstarted.css">
  </head>
  <body>
    <header>
      <div>
        <a class="company-logo" href="/">NationBudget</a>
      </div>
      <div class="flex-center">
        <h1>Plans and Prices</h1>
      </div>
      <div></div>
    </header>
    <section>
      <div class="flex-center">
        <table>
          <tr>
            <th></th>
            <th>Personal</th>
            <th>Business Level 1</th>
            <th>Business Level 2</th>
            <th>Business Level 3</th>
            <th>Business Level 4</th>
          </tr>
          <tr>
            <td>Cost</td>
            <td>$1</td>
            <td>$2</td>
            <td>$3</td>
            <td>$4</td>
            <td>$5</td>
          </tr>
          <tr>
            <td>Users</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Planning Spaces</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Storage space per Planning Space</td>
            <td>1 GB</td>
            <td>2 GB</td>
            <td>3 GB</td>
            <td>4 GB</td>
            <td>5 GB</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <form method="get" action="getstarted/personal">
                <input type="submit"
                       class="button"
                       value="Sign Up">
              </form>
            </td>
            <td>
              <form method="get" action="getstarted/business">
                <input type="submit"
                       class="button"
                       value="Sign Up"
                       disabled>
              </form>
            </td>
            <td>
              <form method="get" action="getstarted/business2">
                <input type="submit"
                       class="button"
                       value="Sign Up"
                       disabled>
              </form>
            </td>
            <td>
              <form method="get" action="getstarted/business3">
                <input type="submit"
                       class="button"
                       value="Sign Up"
                       disabled>
              </form>
            </td>
            <td>
              <form method="get" action="getstarted/business4">
                <input type="submit"
                       class="button"
                       value="Sign Up"
                       disabled>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </section>
    <footer>
      <p class="flex-center">&#169;2015 NationBudget</p>
    </footer>
  </body>
</html>
