<!DOCTYPE html>
<html class="nation-budget">
  <head>
    <meta charset="utf-8">
    <title>NationBudget</title>
    <base href="http://fast-brook-4391.herokuapp.com/">
    <link rel="stylesheet" type="text/css" href="static/assets/stylesheets/css/main.css">
  </head>
  <body class="getstarted-page">
    <header>
      <div>
        <a class="company-logo" href="/">NationBudget</a>
      </div>
      <div class="h1-container">
        <h1>Plans and Prices</h1>
      </div>
      <div></div>
    </header>
    <section>
      <div class="get-started-container">
        <div>
          <p>Personal</p>
          <form method="get" action="getstarted/personal">
            <input type="submit"
                   class="button"
                   value="Sign Up">
          </form>
        </div>
        <div>
          <p>Business</p>
          <form method="get" action="getstarted/business">
            <input type="submit"
                   class="button"
                   value="Sign Up">
          </form>
        </div>
      </div>
    </section>
    <footer>
      <p class="flex-center">&#169;2015 NationBudget</p>
    </footer>
  </body>
</html>
