<section>
  <div class="buttons-container">
    <button class="btn btn-primary"
            ng-click="addItem()"
            ng-if="view.user_budgets && view.user_budgets.length > 0">Add Item</button>
    <!--<button class="btn btn-primary" ng-click="editRemoveItem()">Edit/Remove Item</button>-->
    <button class="btn btn-primary"
            ng-click="addBudget()">Add Budget</button>
  </div>
  <div ng-if="view.user_budgets && view.user_budgets.length > 0"
       cb-circles-report
       data="view.user_budgets"></div>
  <!--<div ng-if="view.user_items && view.user_items.length > 0"-->
       <!--cb-table-->
       <!--data="view.user_items"></div>-->
</section>
