<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NationBudget</title>
    <!--<base href="http://fast-brook-4391.herokuapp.com/">-->
    <link rel="stylesheet" type="text/css" href="static/assets/stylesheets/css/lohp.css">
  </head>
  <body class="logged-out-homepage">
    <header>
      <div>
        <a class="company-logo" href="/">NationBudget</a>
      </div>
      <div class="flex-center">
        <h1>A Financial Planner Modeled for Families and Businesses</h1>
      </div>
      <div class="signin-button-container">
        <form class="header-form"
              method="get"
              action="signin">
          <input type="submit"
                 class="button"
                 value="Sign In">
        </form>
      </div>
    </header>
    <section>
      <div>
        <img src="http://cola.unh.edu/sites/cola.unh.edu/files/styles/homepage/public/images/homepagePhotoFRLrev.jpg?itok=wdJ0UxSm"
             alt="Picture of Family"
             class="family-pic">
      </div>
      <div class="get-started-container">
        <form method="get" action="getstarted">
          <input type="submit"
                 class="get-started-button button"
                 value="Get Started!">
        </form>
      </div>
      <div class="flex-center">
        <h2>Plan for Each Member of Your Family or Business</h2>
      </div>
      <div class="highlights-container">
        <div>
          <p>Track Purchases</p>
          <img src="https://s-media-cache-ak0.pinimg.com/736x/7d/12/a8/7d12a8eee255933ed7f78a31d0c084de.jpg"
               alt="History Table of Purchased Items">
        </div>
        <div>
          <p>BillPay Reminder</p>
          <img src="http://placehold.it/200x200"
               alt="Image of BillPay Reminder">
        </div>
        <div>
          <p>Plan Purchases</p>
          <img src="http://placehold.it/200x200"
               alt="Image of Planning Purchases">
        </div>
      </div>
    </section>
    <footer>
      <p class="flex-center">&#169;2015 NationBudget</p>
    </footer>
  </body>
</html>
