<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NationBudget</title>
    <base href="http://fast-brook-4391.herokuapp.com/lihp">
    <link rel="stylesheet" type="text/css" href="static/assets/stylesheets/css/lihp.css">
    <!--<link rel="stylesheet" type="text/css" href="http://localhost:3000/static/assets/stylesheets/css/lihp.css">-->
  </head>
  <body>
    <header>
      <div>
        <a class="company-logo" href="/">NationBudget</a>
      </div>
      <div class="flex-center">
        <h1>LIHP</h1>
      </div>
      <div></div>
    </header>
    <section>
      <p>LIHP!!</p>
    </section>
    <footer>
      <p class="flex-center">&#169;2015 NationBudget</p>
    </footer>
  </body>
</html>
