<table st-table="user_items"
       class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Revenue Type</th>
      <th>Item Type</th>
      <th>Template Type</th>
      <th>Recurrence Type</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Value</th>
      <th>Budgets</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in user_items">
      <td>{{item.name}}</td>
      <td>{{item.revenue_type}}</td>
      <td>{{item.item_type}}</td>
      <td>{{item.template_type}}</td>
      <td>{{item.recurrence_type}}</td>
      <td>{{item.start_date | date:'medium'}}</td>
      <td ng-if="item.end_date">{{item.end_date | date:'medium'}}</td>
      <td ng-if="!item.end_date">-</td>
      <td>{{item.value}}</td>
      <td>
        <span ng-repeat="budget in item.budgets">{{budget.name}} </span>
      </td>
    </tr>
  </tbody>
</table>
