<div>
   <div>
      Name: <input type="text" ng-model="view.item.name">
   </div>
   <div>
      Revenue Type:
      <select ng-model="view.item.revenue_type">
         <option>Income</option>
         <option>Expense</option>
      </select>
   </div>
   <div>
      Item Type:
      <select ng-model="view.item.item_type">
         <option>Actual</option>
         <option>What-If</option>
      </select>
   </div>
   <div>
      Category:
      <select ng-model="view.item.category">
         <option>None</option>
         <option>New</option>
      </select>
      <input type="text"
             ng-if="view.item.item_type && view.item.item_type === 'new'"
             ng-model="view.item.new_category">
   </div>
   <div ng-if="view.item.revenue_type">
      {{view.item.revenue_type}} Type:
      <select ng-model="view.item.template_type"
              ng-if="view.item.revenue_type === 'Income'">
         <option>Normal</option>
         <option>CD</option>
         <option>Other non-simple income</option>
      </select>
      <select ng-model="view.item.template_type"
              ng-if="view.item.revenue_type === 'Expense'">
         <option>Normal</option>
         <option>Morgage Loan</option>
         <option>Auto Loan</option>
         <option>Other non-simple purchase</option>
      </select>
   </div>
   <div ng-if="view.item.template_type">
      <div ng-if="view.item.template_type === 'Normal'">
         Recurrence Type:
         <select ng-model="view.item.recurrence_type">
            <option>None</option>
            <option>Bi-Weekly</option>
            <option>Monthly</option>
            <option>Yearly</option>
         </select>

         <div ng-if="view.item.recurrence_type">
            <div ng-if="view.item.recurrence_type === 'None'">
               <!--<div ng-model="view.item.date">Date-Picker here</div>-->
               <input type="text"
                      datepicker-options="view.date_options"
                      ng-model="view.item.date"
                      ng-required="true">
               <!--<input type="text"-->
                      <!--datepicker-options="view.date_options"-->
                      <!--ng-model="view.item.date"-->
                      <!--date-disabled="disabled(date, mode)"-->
                      <!--ng-required="true">-->
               <div>
                  Value:
                  <input type="number" ng-model="view.item.value">
               </div>
            </div>
            <div ng-if="view.item.recurrence_type !== 'None'">
               <div>Start Date-Picker here</div>
               <div>End Date-Picker here</div>
            </div>
         </div>
      </div>
      <div ng-if="view.item.template_type !== 'Normal'">
         Insert {{view.item.template_type}} template here.
      </div>
   </div>
</div>
<div>
   <button class="btn btn-primary" ng-click="done()">Done</button>
   <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
