<div>
   Amount
   <input type="number" ng-model="view.amount">
</div>
<div>
   Recurrence Type
   <select ng-model="view.time_selected_value"
           ng-options="time.value as time.label for time in view.time_options"
           ng-change="updateView()"></select>
</div>
<div>
   Approximate Starting Date
   <!--<datepicker ng-model="view.start_date"-->
               <!--min-date="view.min_date"-->
               <!--show-weeks="true"-->
               <!--class="well well-sm"-->
               <!--custom-class="updateEnableDates(date, mode)"-->
               <!--datepicker-mode="view.date_picker_mode"></datepicker>-->
   <datepicker ng-model="view.start_date"
               min-date="view.min_date"
               show-weeks="true"
               class="well well-sm"
               datepicker-mode="view.date_picker_mode"
               ng-change="updateDates()"></datepicker>
</div>
<div>
   Approximate End Date
   <!--<datepicker ng-if="view.start_date"-->
               <!--ng-model="view.end_date"-->
               <!--min-date="view.min_date"-->
               <!--show-weeks="true"-->
               <!--class="well well-sm"-->
               <!--datepicker-mode="view.date_picker_mode"-->
               <!--date-disabled="disableEndDate(date, mode)"></datepicker>-->
   <datepicker ng-if="view.start_date"
               ng-model="view.end_date"
               min-date="view.min_date"
               show-weeks="true"
               class="well well-sm"
               datepicker-mode="view.date_picker_mode"
               date-disabled="disableEndDate(date, mode)"></datepicker>
</div>
<div>
   <button class="btn btn-primary" ng-click="ok()">OK</button>
   <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
   <button class="btn btn-primary" ng-click="nullStartDate()">Null Start Date</button>
</div>
