<div ng-show="view.loaded">
  <form name="item_form" novalidate>
    <div>
      Name: <input type="text"
                   ng-model="view.item.name"
                   name="name"
                   required>
      <span ng-if="view.try_submit === true">
         <span ng-if="item_form.name.$error.required">
            Required
         </span>
      </span>
    </div>
    <div>
      Revenue Type:
      <select ng-model="view.item.revenue_type"
              ng-options="revenue_type for revenue_type in view.revenue_types">
      </select>
    </div>
    <div>
      Item Type:
      <select ng-model="view.item.item_type"
              ng-options="item_type for item_type in view.item_types">
      </select>
    </div>
    <div ng-if="view.item.revenue_type">
      {{view.item.revenue_type}} Type:
      <select ng-model="view.item.template_type"
              ng-if="view.item.revenue_type === 'Income'"
              ng-options="template_type for template_type in view.income_template_types">
      </select>
      <select ng-model="view.item.template_type"
              ng-if="view.item.revenue_type === 'Expense'"
              ng-options="template_type for template_type in view.expense_template_types">
      </select>
    </div>
    <div ng-if="view.item.template_type">
      <div ng-if="view.item.template_type === 'Normal'">
        <span>Recurrence Type:</span>
        <select ng-model="view.item.recurrence_type"
                ng-options="recurrence_type for recurrence_type in view.recurrence_types"
                ng-change="refreshDatepickers()">
        </select>
        <select ng-if="view.item.recurrence_type && view.item.recurrence_type !== 'None'"
                ng-model="view.item.recurrence_end_type"
                ng-options="recurrence_end_type for recurrence_end_type in view.recurrence_end_types"
                ng-change="updateEndDates()">
        </select>
      </div>
      <div id="datepickers-container" ng-if="view.item.recurrence_type"></div>
      <div ng-if="view.item.revenue_type === 'Expense'">
        <span>Categories To Apply:</span>
        <div ng-repeat="budget in view.user_budgets">
          <button type="button"
                  class="btn btn-primary"
                  btn-checkbox
                  ng-model="budget.active"
                  ng-change="updateItemBudgets(budget)">
            {{budget.name}}
          </button>
          <input ng-if="budget.active"
                 type="number"
                 step="0.01"
                 min="0"
                 pattern='[0-9]+([,\\.][0-9]{1,2})?$'
                 placeholder="input value here"
                 required>
        </div>
      </div>
      <div ng-if="view.item.template_type !== 'Normal'">
        Insert {{view.item.template_type}} template here.
      </div>
    </div>
    <div>
      <input type="button"
             class="btn btn-primary"
             value="Done"
             ng-click="done(item_form)">
      <input type="button"
             class="btn btn-primary"
             value="Cancel"
             ng-click="cancel()">
    </div>
  </form>
</div>
