<secure-wrapper>
   <div ng-if="!view.data_loaded">Data Still Loading...</div>
   <div ng-if="view.data_loaded">
      <table>
         <thead>
            <tr>
               <th>Finance</th>
               <th>Actual</th>
               <th>What If</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Income</td>
               <td>
                  <a href="#/group/income/actual">{{view.group_actual_income}}</a>
               </td>
               <td>{{0}}</td>
            </tr>
            <tr>
               <td>Expense</td>
               <td>
                  <a href="#/group/expense/actual">{{view.group_actual_expense}}</a>
               </td>
               <td>{{0}}</td>
            </tr>
            <tr>
               <td>Revenue</td>
               <td>{{view.group_actual_revenue}}</td>
               <td>{{0}}</td>
            </tr>
         </tbody>
      </table>
   </div>
</secure-wrapper>
