<section>
  <h1>What-If Calculator</h1>

  <p>Use this calculator to determine how expenses may effect your budget by entering in your current balance, and any
    actual or 'what-if' income and expenses.</p>
</section>
<section>
  <div class="buttons-container">
    <button class="btn btn-primary" ng-click="addItem()">Add Item</button>
    <button class="btn btn-primary" ng-click="editRemoveItem()">Edit/Remove Item</button>
  </div>
  <div>
    Reports go here.
  </div>
</section>
