<div>
   <form name="login_form" novalidate>
      Email:
      <input type="email"
             name="email"
             ng-model="view.user.email"
             required>
      <span ng-if="view.try_submit">
         <span ng-if="login_form.email.$error.required">
            Email is required.
         </span>
         <span ng-if="login_form.email.$error.email">
            Invalid email address.
         </span>
      </span>
      <br>
      Password:
      <input type="password"
             name="password"
             ng-model="view.user.password"
             required>
      <span ng-if="view.try_submit">
         <span ng-if="login_form.password.$error.required">
            Password is required.
         </span>
      </span>
      <br>
      <input type="button" value="Submit" ng-click="submit(login_form)">
   </form>
</div>
