<ng-include src="'/secure/views/header.html'"></ng-include>
<div class="main-content-container">
   <section class="left-content">
      <ng-include src="'/secure/views/leftbar.html'"></ng-include>
   </section>
   <section class="right-content">
      <ng-include src="'/secure/views/rightbar.html'"></ng-include>
   </section>
   <section class="center-content">
      <div ng-transclude></div>
      <!--<div ng-transclude class="my-transclude"></div>-->
   </section>
</div>
<ng-include src="'/secure/views/footer.html'"></ng-include>

<!--<div class="main-content-container">-->
<!--<section class="left-content">-->
<!--<ng-include src="'/views/leftbar.html'"></ng-include>-->
<!--</section>-->
<!--&lt;!&ndash;<ng-include src="'/views/rightbar.html'"></ng-include>&ndash;&gt;-->
<!--<section class="center-content">-->
<!--<div ng-transclude></div>-->
<!--</section>-->
<!--</div>-->

<!--<ng-include src="'/secure/views/footer.html'"></ng-include>-->
