<secure-wrapper>
   <div ng-if="view.data_loaded">
      <table>
         <thead>
            <tr>
               <th>Finance</th>
               <th>Actual</th>
               <th>What If</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Income</td>
               <td><a href="#/groupactualincome">{{view.group_actual_income}}</a></td>
               <td>{{0}}</td>
            </tr>
         </tbody>
      </table>
   </div>
</secure-wrapper>
