<secure-wrapper>
   <div ng-if="!view.group_actual_expense">Data Still Loading...</div>
   <div ng-if="view.group_actual_expense">
      <div ng-if="view.group_actual_expense.length > 0">
         <select ng-model="view.selected_month"
                 ng-options="month.id as month.name for month in view.month_collection"
                 ng-change="rowQuery()"></select>

         <select ng-model="view.selected_year"
                 ng-options="year for year in view.year_collection"
                 ng-change="rowQuery()"></select>

         <table st-table="view.row_collection"
                st-pipe="rowQuery">
            <thead>
               <tr>
                  <th st-sort="name">Name</th>
                  <th st-sort="amount">Amount</th>
                  <th st-sort="type">Type</th>
                  <th>Notes</th>
                  <th st-sort="date" st-sort-default="reverse">Date</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="row in view.row_collection">
                  <td>{{row.name}}</td>
                  <td>{{row.amount | currency}}</td>
                  <td>{{row.type}}</td>
                  <td>{{row.notes}}</td>
                  <td>{{row.date | date : 'mediumDate' : 'UTC'}}</td>
                  <td>Edit Clone</td>
               </tr>
            </tbody>
            <tfoot>
               <tr>
                  <td colspan="6">
                     <div st-pagination=""
                          st-items-by-page="view.items_per_page"
                          st-displayed-pages="view.displayed_pages"></div>
                  </td>
               </tr>
            </tfoot>
         </table>

         <div>
            Expense Total: <span>{{view.total_actual_group_expense | currency}}</span>
         </div>

         <br>
      </div>
      <div ng-if="view.group_actual_expense.length === 0">
         No items saved.
      </div>

      <input type="button"
             ng-click="addGroupActualExpense()"
             value="Add Item"
             class="button">
   </div>
</secure-wrapper>
