body, div, section, p, h1, h2, header, footer,
nav, ul, li, a, figure, img, aside, form, input,
table, th, td, html {
  margin: 0;
  padding: 0; }

.flex-center, .exit-button {
  display: flex;
  justify-content: center; }

.flex-row, .alert-title-container, .alert-button-container, header {
  display: flex;
  flex-direction: row; }

.flex-column, .alert-container {
  display: flex;
  flex-direction: column; }

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

input {
  font-size: 15px; }

.input-error {
  border: solid red 2px;
  border-radius: 4px; }

.button {
  font-size: 23px;
  padding: 10px;
  background-color: white; }

.hide {
  display: none !important; }

.alert-container {
  width: 500px;
  position: absolute;
  color: black;
  top: 0;
  right: 0; }
  .alert-container p {
    background-color: white;
    padding: 0 40px;
    text-align: center; }

.alert-title-container div {
  width: 33.3%; }

.alert-button-container {
  justify-content: flex-end; }
  .alert-button-container .button {
    margin-right: 15px; }

.exit-button-container {
  display: flex;
  justify-content: flex-end; }

.exit-button {
  border: solid 1px black; }
  .exit-button:hover {
    cursor: pointer; }

.alert-base, .alert-error {
  font-size: 14px; }

.alert-error {
  background-color: red; }

html {
  background-color: darkturquoise;
  color: white; }

header {
  padding: 30px 0;
  background-color: darkturquoise; }

header > div {
  width: 33.3%;
  flex-grow: 1;
  display: flex;
  align-items: center; }

.company-logo {
  font-size: 30px;
  margin-left: 10%;
  text-decoration: none;
  color: white; }

section {
  height: 100%; }

footer {
  margin: 40px 0; }

h1 {
  font-size: 30px;
  text-align: center; }

table {
  color: black;
  border-spacing: 0; }

th, td {
  padding: 10px 0; }

th {
  width: 145px; }

td {
  text-align: center; }

td:first-child {
  text-align: left;
  padding-left: 20px; }

tr:nth-child(even) {
  background-color: darkgrey; }

tr:nth-child(odd) {
  background-color: white; }
