body, div, section, p, h1, h2, header, footer,
nav, ul, li, a, figure, img, aside, form, input,
table, th, td, html {
  margin: 0;
  padding: 0; }

.flex-center, .exit-button, .logo-container, #section-sub-nav, #section-item-sub-nav, #section-asset-sub-nav, #section-report-sub-nav {
  display: flex;
  justify-content: center; }

.flex-row, .alert-title-container, .alert-button-container, #header-nav ul, #sub-nav ul, .header-div {
  display: flex;
  flex-direction: row; }

.flex-column, .alert-container, header, #section-main {
  display: flex;
  flex-direction: column; }

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

input {
  font-size: 15px; }

.input-error {
  border: solid red 2px;
  border-radius: 4px; }

.button, .signout-button {
  font-size: 23px;
  padding: 10px;
  background-color: white; }

.hide {
  display: none !important; }

.alert-container {
  width: 500px;
  position: absolute;
  color: black;
  top: 0;
  right: 0; }
  .alert-container p {
    background-color: white;
    padding: 0 40px;
    text-align: center; }

.alert-title-container div {
  width: 33.3%; }

.alert-button-container {
  justify-content: flex-end; }
  .alert-button-container .button, .alert-button-container .signout-button {
    margin-right: 15px; }

.exit-button-container {
  display: flex;
  justify-content: flex-end; }

.exit-button {
  border: solid 1px black; }
  .exit-button:hover {
    cursor: pointer; }

.alert-base, .alert-error {
  font-size: 14px; }

.alert-error {
  background-color: red; }

html {
  background-color: darkturquoise;
  color: white; }

header {
  padding: 30px 0 10px 0;
  background-color: darkturquoise; }

#header-nav ul, #sub-nav ul {
  border-style: solid;
  border-radius: 10px;
  overflow: hidden; }

#header-nav li, #sub-nav li {
  text-align: center;
  list-style-type: none;
  padding: 10px 15px;
  border-right-style: solid; }
  #header-nav li:hover, #sub-nav li:hover {
    background-color: #006666;
    cursor: pointer; }
  #header-nav li:last-child, #sub-nav li:last-child {
    border-right-style: none; }
  #header-nav li:only-child, #sub-nav li:only-child {
    border-style: none; }

.logo-container {
  margin-bottom: 20px; }

.logo {
  text-decoration: none;
  color: white;
  font-size: 30px; }

#header-nav {
  font-size: 25px;
  width: 25%;
  margin: 0 auto; }
  #header-nav li {
    width: 33.3%; }

#sub-nav {
  font-size: 20px;
  width: 25%; }
  #sub-nav li {
    width: 33.3%; }

.header-div div {
  flex-grow: 1;
  width: 33.3%; }

.signout-button-container {
  display: flex;
  justify-content: flex-end; }

.signout-button {
  margin-right: 10%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45px; }

#section-sub-nav {
  padding: 10px 0; }

.header-form {
  margin-right: 10%; }

.company-logo {
  font-size: 30px;
  margin-left: 10%;
  text-decoration: none;
  color: white; }

footer {
  margin: 20px 0; }

h1 {
  font-size: 30px;
  text-align: center; }

.selected {
  background-color: #006666; }

#div-item-add-view, #div-item-edit-view, #div-item-delete-view {
  margin: 20px 0 0 0; }
