.nation-budget {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white; }
  .nation-budget body, .nation-budget div, .nation-budget section, .nation-budget p, .nation-budget h1, .nation-budget h2, .nation-budget header, .nation-budget footer,
  .nation-budget nav, .nation-budget ul, .nation-budget li, .nation-budget a, .nation-budget figure, .nation-budget img, .nation-budget aside, .nation-budget form, .nation-budget input,
  .nation-budget table, .nation-budget th, .nation-budget td {
    margin: 0;
    padding: 0; }
  .nation-budget body {
    height: 100%;
    width: 100%;
    background-color: darkturquoise;
    display: flex;
    flex-direction: column; }
  .nation-budget header {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    background-color: darkturquoise; }
  .nation-budget header > div {
    width: 33.3%;
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .nation-budget .company-logo {
    font-size: 30px;
    margin-left: 10%;
    text-decoration: none;
    color: white; }
  .nation-budget footer {
    margin: 40px 0; }
  .nation-budget h1, .nation-budget h2 {
    font-size: 30px;
    text-align: center; }
  .nation-budget input {
    font-size: 15px; }
  .nation-budget tr:nth-child(even) {
    background-color: darkgrey; }
  .nation-budget tr:nth-child(odd) {
    background-color: white; }
  .nation-budget th, .nation-budget td {
    font-size: 20px; }
  .nation-budget .h1-container {
    display: flex;
    justify-content: center; }
  .nation-budget .flex-center, .nation-budget .getstarted-page .get-started-container {
    display: flex;
    justify-content: center; }
  .nation-budget .flex-row {
    display: flex;
    flex-direction: row; }
  .nation-budget .flex-column, .nation-budget .register-personal-page .main-container {
    display: flex;
    flex-direction: column; }
  .nation-budget .button {
    font-size: 23px;
    vertical-align: middle;
    padding: 10px;
    background-color: white; }
  .nation-budget .logged-out-homepage {
    /*header,*/ }
    .nation-budget .logged-out-homepage section > div {
      margin-top: 30px; }
    .nation-budget .logged-out-homepage section > div:first-child {
      margin-top: 0; }
    .nation-budget .logged-out-homepage .get-started-container {
      display: flex;
      justify-content: center; }
    .nation-budget .logged-out-homepage .get-started-button {
      font-size: 23px;
      vertical-align: middle;
      padding: 10px;
      background-color: white; }
    .nation-budget .logged-out-homepage .family-pic {
      margin: 0 auto;
      display: block;
      width: 100%;
      height: 450px; }
    .nation-budget .logged-out-homepage .highlights-container {
      display: flex;
      flex-direction: row; }
    .nation-budget .logged-out-homepage .highlights-container > div {
      display: flex;
      flex-direction: column;
      width: 33.3%;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      font-size: 25px;
      font-weight: bold; }
    .nation-budget .logged-out-homepage .highlights-container img {
      display: block;
      height: 200px;
      width: 200px;
      margin: 10px 0 0 0; }
  .nation-budget .register-page input {
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 15px; }
  .nation-budget .register-page .get-started-container {
    display: flex;
    justify-content: center; }
  .nation-budget .register-page .register-button {
    height: auto;
    margin: 0;
    font-size: 23px;
    vertical-align: middle;
    padding: 10px;
    background-color: white; }
  .nation-budget .getstarted-page .get-started-container table {
    color: black;
    border-spacing: 0; }
    .nation-budget .getstarted-page .get-started-container table th, .nation-budget .getstarted-page .get-started-container table td {
      padding: 10px 0; }
    .nation-budget .getstarted-page .get-started-container table th {
      width: 145px; }
    .nation-budget .getstarted-page .get-started-container table td {
      text-align: center; }
    .nation-budget .getstarted-page .get-started-container table td:first-child {
      text-align: left;
      padding-left: 20px; }
  .nation-budget .register-personal-page .main-container {
    align-items: center; }
    .nation-budget .register-personal-page .main-container form div input {
      min-height: 30px;
      width: 220px;
      margin: 12px 0; }
