<script>
  var MAIN = (function (main) {
    main.ASSET = {};
    main.ASSET.showMain = function () {
      console.log("Asset showMain");
      document.getElementById('div-asset-main').className = '';
    };

    return main;
  })(MAIN || {});
</script>

<!--<div id="div-asset-main" class="hide">-->
  <!--<p class="flex-center">Asset Main Div!</p>-->
<!--</div>-->
