<%
var header_nav_items = [
  {
    'title': 'Item',
    'id': 'header-li-item',
    'subNavFunction': 'MAIN.HEADER.loadSubNav("section-item-sub-nav")'
  },
  {
    'title': 'Asset',
    'id': 'header-li-asset',
    'subNavFunction': 'MAIN.HEADER.loadSubNav("section-asset-sub-nav")'
  },
  {
    'title': 'Report',
    'id': 'header-li-report',
    'subNavFunction': 'MAIN.HEADER.loadSubNav("section-report-sub-nav")'
  }
];
%>

<script>
  var MAIN = (function (main) {
    var sub_nav_ids = null
      , sub_navs = null
      , header_li_items = null
      , current_showing_sub_nav = null;

    // Header Nav Functions
    main.HEADER = main.HEADER || {};

    main.HEADER.init = function () {
      sub_nav_ids = [
        'section-item-sub-nav',
        'section-asset-sub-nav',
        'section-report-sub-nav'
      ];
      header_li_items = {
        'section-item-sub-nav': document.getElementById('header-li-item'),
        'section-asset-sub-nav': document.getElementById('header-li-asset'),
        'section-report-sub-nav': document.getElementById('header-li-report')
      };
      sub_navs = {
        'section-item-sub-nav': document.getElementById('section-item-sub-nav'),
        'section-asset-sub-nav': document.getElementById('section-asset-sub-nav'),
        'section-report-sub-nav': document.getElementById('section-report-sub-nav')
      };
    };

    main.HEADER.loadSubNav = function (sub_nav) {
      console.log("loadSubNav");

      if (current_showing_sub_nav === null) {
        header_li_items[sub_nav].className = 'selected';
        sub_navs[sub_nav].className = '';
        current_showing_sub_nav = sub_nav;
      } else if (current_showing_sub_nav === sub_nav) {
        console.log("Switching");
        header_li_items[sub_nav].className = header_li_items[sub_nav].className === 'selected' ? '' : 'selected';

        sub_navs[sub_nav].className = header_li_items[sub_nav].className === 'selected' ? '' : 'hide';
      } else {
        header_li_items[current_showing_sub_nav].className = '';
        sub_navs[current_showing_sub_nav].className = 'hide';

        header_li_items[sub_nav].className = 'selected';
        sub_navs[sub_nav].className = '';

        current_showing_sub_nav = sub_nav;
      }
    };

    return main;
  })(MAIN || {});
</script>

<header>
  <nav id="header-nav">
    <ul>
    <% var length = header_nav_items.length;
    for (var i = 0; i < length; i++) { %>
      <li id="<%= header_nav_items[i].id %>"
          onclick="<%= header_nav_items[i].subNavFunction %>"><%= header_nav_items[i].title %></li>
    <% } %>
    </ul>
  </nav>
</header>
