<div id="div-item-add-view" class="hide">
  <form>
    <div class="flex-center">
      <span>Name:</span>
      <input type="text"
             name="name"
             required>
    </div>
  </form>
</div>
