<%
var sub_nav = [
  {
    'title': 'Add',
    'id': 'sub-nav-li-add',
    'subNavFunction': 'MAIN.ITEM.loadItemView("div-item-add-view")'
  },
  {
    'title': 'Edit',
    'id': 'sub-nav-li-edit',
    'subNavFunction': 'MAIN.ITEM.loadItemView("div-item-edit-view")'
  },
  {
    'title': 'Delete',
    'id': 'sub-nav-li-delete',
    'subNavFunction': 'MAIN.ITEM.loadItemView("div-item-delete-view")'
  }
];
%>

<script>
  var MAIN = (function (main) {
    var item_view_ids = null
      , item_views = null
      , sub_nav_li_items = null
      , current_showing_item_view = null;

    main.HEADER = main.HEADER || {};

    main.ITEM = {};

    main.ITEM.init = function () {
      item_view_ids = [
        'div-item-add-view',
        'div-item-edit-view',
        'div-item-delete-view'
      ];

      sub_nav_li_items = {
        'div-item-add-view': document.getElementById('sub-nav-li-add'),
        'div-item-edit-view': document.getElementById('sub-nav-li-edit'),
        'div-item-delete-view': document.getElementById('sub-nav-li-delete')
      };

      item_views = {
        'div-item-add-view': document.getElementById('div-item-add-view'),
        'div-item-edit-view': document.getElementById('div-item-edit-view'),
        'div-item-delete-view': document.getElementById('div-item-delete-view')
      };
    };

    main.ITEM.loadItemView = function (viewToLoad) {
      console.log("loadSubNav");

      if (current_showing_item_view === null) {
        // Highlight subnav li
        sub_nav_li_items[viewToLoad].className = 'selected';
        // Show the item view
        item_views[viewToLoad].className = '';
        // Set the current showing item view
        current_showing_item_view = viewToLoad;
        main.HEADER.selected_subnav = sub_nav_li_items[viewToLoad];
        main.HEADER.current_view = item_views[viewToLoad];
      } else if (current_showing_item_view === viewToLoad) {
        console.log("Switching");
        // Toggle if subnav is selected
        sub_nav_li_items[viewToLoad].className = sub_nav_li_items[viewToLoad].className === 'selected' ? '' : 'selected';
        main.HEADER.selected_subnav = sub_nav_li_items[viewToLoad].className === 'selected' ? sub_nav_li_items[viewToLoad] : null;

        // Toggle item view based on if the subnav is selected
        item_views[viewToLoad].className = sub_nav_li_items[viewToLoad].className === 'selected' ? '' : 'hide';
        main.HEADER.current_view = sub_nav_li_items[viewToLoad].className === 'selected' ? item_views[viewToLoad] : null;
      } else {
        // De-select the current sub nav
        sub_nav_li_items[current_showing_item_view].className = '';
        // Hide the current item view
        item_views[current_showing_item_view].className = 'hide';

        // Select the tab the user just clicked on
        sub_nav_li_items[viewToLoad].className = 'selected';
        // Load the tab the user wants
        item_views[viewToLoad].className = '';

        // Set the current showing item view
        current_showing_item_view = viewToLoad;
        main.HEADER.selected_subnav = sub_nav_li_items[viewToLoad];
        main.HEADER.current_view = item_views[viewToLoad];
      }
    };

    return main;
  })(MAIN || {});
</script>

<section id="section-item-sub-nav" class="hide">
  <nav id="sub-nav">
    <ul id="ul-item">
      <% sub_nav.forEach(function (li_item) { %>
      <li id="<%= li_item.id %>"
          onclick="<%= li_item.subNavFunction %>"><%= li_item.title %></li>
      <%}); %>
    </ul>
  </nav>
</section>

<% include ./itemaddview.ejs %>
<% include ./itemeditview.ejs %>
<% include ./itemdeleteview.ejs %>
