.countrybudget {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;

   body, div, section, p, h1, header, footer, nav, ul, li, a,
   figure, img, aside, form, input {
      margin: 0;
      padding: 0;
   }

   body {
      height: 100%;
      width: 100%;
      background-color: #5bc0de;
   }

   .button {
      background-color: #4285f4;
      color: #ffffff;
      font-size: 14px;
   }
}
